:root {
  --font-primary: 'Space Mono', monospace;
  --font-secondary: 'Inconsolata', monospace;
  --font-tetiarry: 'Montserrat', sans-serif;
  --color-primary: #333333; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  color: var(--color-primary);
  font-family: var(--font-primary);
  min-width: 100%;
  display: flex;
  flex-direction: column;
  position: relative; }

header {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.5rem;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  padding: 4rem; }

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr)); }

footer {
  font-family: var(--font-tetiarry);
  line-height: 2.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 100%;
  left: 0px;
  right: 0px;
  padding: 1.5rem 0px; }

.content__image {
  padding: 2rem 7.7rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 50em) {
    .content__image {
      padding: 2rem 2rem; } }
  .content__image img {
    width: 100%; }

.content__hero {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  @media only screen and (max-width: 50em) {
    .content__hero {
      padding: 2rem 2rem; } }
  .content__hero--heading {
    font-size: 6.4rem;
    line-height: 9.5rem;
    letter-spacing: -0.035em;
    font-weight: 700;
    font-family: var(--font-primary);
    margin-bottom: 2rem; }
    @media only screen and (max-width: 76.9em) {
      .content__hero--heading {
        font-size: 5.4rem;
        line-height: 9rem; } }
    @media only screen and (max-width: 68.8em) {
      .content__hero--heading {
        font-size: 5rem;
        line-height: 8.5rem; } }
    @media only screen and (max-width: 62.5em) {
      .content__hero--heading {
        font-size: 4rem;
        line-height: 8rem; } }
    @media only screen and (max-width: 50em) {
      .content__hero--heading {
        line-height: 7rem; } }
  .content__hero--description {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.6rem;
    letter-spacing: -0.035em;
    width: 38rem; }
    @media only screen and (max-width: 50em) {
      .content__hero--description {
        font-size: 2rem; } }
  .content__hero--cta {
    border: none;
    text-transform: uppercase;
    background-color: var(--color-primary);
    margin-top: 3.6rem;
    padding: 2rem;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: var(--font-primary);
    line-height: 2.1rem;
    letter-spacing: -0.035em; }
